{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto;  width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }


    a.page {
        background: white;
        border: solid 1px black;
        border-radius: 20px;
        /* padding: 0px 5%; */
        text-align: center;
        margin: 0 5px;
        display: block;
    }
    div.pages {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
    .page.active {
        background:#dadada;
    }
    .bot-margin {
        margin-bottom: 0;
    }
    .top-margin {
        margin-top: 0;
    }
</style>

<div class="example-wrapper">
    <h1>Article</h1>
<a href="/news">< Back</a>
    <div class="news">
        <div class="article">
            {% if isAdmin %}
                <h2 class="title bot-margin"><a href="/article/{{ article.id }}">{{ article.title }}</a></h2>
                <p class="top-margin"><a href="/admin/edit/article/{{ article.id }}"><i class="far fa-edit"></i></a> | <a href="/admin/delete/article/{{ article.id }}"><i class="fas fa-times"></i></a></p>
            {% else %}
                <h2 class="title"><a href="/article/{{ article.id }}">{{ article.title }}</a></h2>
            {% endif %}
            <p class="info">By <a href="/player/{{ article.author }}">{{ article.author }}</a> on {{ article.datetime|date("d.m.Y H:i:s") }}</p>
            <div class="ql-editor ns text">{{ article.text|raw }}</div>
        </div>
    </div>
    <hr>
</div>
<script> 
{# function a(formm){
    var xhr = new XMLHttpRequest();
    var formdata = new FormData (formm);

    for (var element of formm.parentElement.getElementsByTagName("div")){
        if (element.getAttribute("form") == formm.id){
            alert(element.getAttribute("name")+", "+element.innerHTML);
            formdata.set(element.getAttribute("name"), element.innerHTML);
        }

    }

    if(formm.parentElement.querySelector("#editor")){
    formdata.set("text", formm.parentElement.querySelector("#editor").firstChild.innerHTML);
    }
        xhr.onload = function(){ alert (xhr.responseText); }
        xhr.open (formm.method, formm.action, true);

        xhr.send (formdata);
        return false;
} #}



        hljs.configure({   // optionally configure hljs
          languages: ['javascript', 'php', 'html', 'twig']
        });

        var toolbarOptions = [
          ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
          ['blockquote', 'code-block', 'image'],

          [{ 'list': 'ordered'}, { 'list': 'bullet' }],
          [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
          [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
          [{ 'direction': 'rtl' }],                         // text direction

          [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown


          [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
          [{ 'font': [] }],
          [{ 'align': [] }],

          ['clean']                                         // remove formatting button
        ];

            var options = {
          debug: 'info',
          modules: {
            toolbar: toolbarOptions,
            syntax: true
          },
          placeholder: 'Compose an epic...',
          readOnly: false,
          theme: 'snow'
        };

        var reader = {
          modules: {
            syntax: true,
            toolbar: false
          },
          readOnly: true,
          theme: 'bubble'
        };


            if (document.getElementById("editor"))
                var editor = new Quill('#editor',options);

            if (document.getElementsByClassName("ql-editor ns text")){
                for (let index = 0; index < document.getElementsByClassName("ql-editor ns").length; index++) {
                    new Quill(document.getElementsByClassName("ql-editor ns")[index],reader);

                }
            }
        </script>
{% endblock %}
