{% extends 'base.html.twig' %}

{% block title %}Guilds - Invite{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
    
    
    tr:nth-child(even) {
        background: #dddddd;
    }
    #members > th:nth-child(1) {
        width: 20%;
    }
    #members > th:nth-child(2) {
        width: 50%;
    }
    #members > th:nth-child(3) {
        width: 30%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    table {
        width: 100%;
    }

    .button {
        background: #97a1a8;
        background-image: -webkit-linear-gradient(top, #97a1a8, #52626b);
        background-image: -moz-linear-gradient(top, #97a1a8, #52626b);
        background-image: -ms-linear-gradient(top, #97a1a8, #52626b);
        background-image: -o-linear-gradient(top, #97a1a8, #52626b);
        background-image: linear-gradient(to bottom, #97a1a8, #52626b);
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Arial;
        color: #fffcff;
        font-size: 20px;
        padding: 5px 15px;
        text-decoration: none;
        margin-left: 3px;
        cursor: pointer;
    }
    .button:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }
    #form > div > label {display: block;}
</style>

<div class="example-wrapper">
    <a href="/guilds/{{ guild.id }}">&lt; Back</a>
    <h1>{{ guild.name }} - Invite Player</h1>

    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    
    
    
    
</div>
{% endblock %}
