{% extends 'base.html.twig' %}

{% block title %}Spells{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto;  width: 95%; font: 18px/1.5 sans-serif; }
    

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    table {
        width: 100%;
    }
    tr:nth-child(even) {
        background: #dddddd;
    }

    th.header.headerSortUp:after {
        content: "⯅";
    }

    th.header {
        cursor: pointer;
    }

    th.header.headerSortDown:after {
        content: "⯆";
    }
</style>

<div class="example-wrapper">
    <h1>Spells</h1>
    <select id="select">
        {% for key in vocationss|keys if key != "None" %}
            {% if key == vocName %}
                <option value="{{ key }}" selected>{{ key }}</option>
            {% else %}
                <option value="{{ key }}">{{ key }}</option>
            {% endif %}
        {% endfor %}
    </select>
    
        <table id="spells-table" class="tablesorter">
        <thead>
                <tr>
                    <th>Spell Name</th>
                    <th>Words</th>
                    <th>Vocations</th>
                    <th>Level</th>
                    <th>Mana</th>
                </tr>
        </thead>
        <tbody>
                {% for spell in instantSpells %}
                <tr>
                    <td>{{ spell.name }}</td>
                    <td>{{ spell.words }}</td>
                    <td>{{ spell.vocations }}</td>
                    <td>{{ spell.level }}</td>
                    <td>{{ spell.mana }}</td>
                </tr>
                {% endfor %}
        </tbody>

    </table>
</div>
<script>
        $(document).ready(function() 
        { 
            $("#spells-table").tablesorter( {sortList: [[3,0]]} ); 
        } 
    ); 

    document.querySelector("#select").addEventListener("change", function () {
        select = document.querySelector("#select")
        window.location.replace("/spells/"+select.value)
    })
</script>
{% endblock %}
