{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .highscores-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    tr:nth-child(even) {
        background: #dddddd;
    }
    th:nth-child(3) {
        width: 1%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    table {
        width: 100%;
    }










                .skillWindow {
background-image: url(/img/skillsbackground.png);
background-repeat: no-repeat;
margin-top: 27px;
padding: 15px;
height: 202px;
width: 154px;
box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.42),0 6px 20px 0 rgba(0, 0, 0, 0.3) !important;
}

.skillWindow .exp {
position: absolute;
font-size: 7.0pt;
font-weight: bold;
color: #b5b5b5;
margin: 0 auto;
width: 145px;
text-align: right;
}

.skillWindow .level {
position: absolute;
margin: 0 auto;
width: 145px;
text-align: right;
margin-top: 13px;
margin-bottom: 1px;
font-size: 7.0pt;
font-weight: bold;
color: #b5b5b5;
}

.skillWindow .hitPoints {
position: absolute;
margin: 0 auto;
width: 145px;
text-align: right;
margin-top: 28px;
font-size: 7.0pt;
font-weight: bold;
color: #b5b5b5;
}

.skillWindow .mana {
position: absolute;
margin: 0 auto;
width: 145px;
text-align: right;
margin-top: 42px;
font-size: 7.0pt;
font-weight: bold;
color: #b5b5b5;
}

.skillWindow .soul {
position: absolute;
margin: 0 auto;
width: 145px;
text-align: right;
margin-top: 56px;
font-size: 7.0pt;
font-weight: bold;
color: #b5b5b5;
}

.skillWindow .cap {
position: absolute;
margin: 0 auto;
width: 145px;
text-align: right;
margin-top: 70px;
margin-bottom: 1px;
font-size: 7.0pt;
font-weight: bold;
color: #b5b5b5;
}

.skillWindow .stamina {
position: absolute;
margin: 0 auto;
width: 145px;
text-align: right;
margin-top: 84px;
margin-bottom: 3px;
font-size: 7.0pt;
font-weight: bold;
color: #a3b4ff;
}

.skillWindow .magicLevel {
position: absolute;
margin: 0 auto;
width: 145px;
text-align: right;
margin-top: 98px;
font-size: 7.0pt;
font-weight: bold;
color: #b5b5b5;
}

.skillWindow .fist {
position: absolute;
margin: 0 auto;
width: 145px;
text-align: right;
margin-top: 116px;
font-size: 7.0pt;
font-weight: bold;
color: #b5b5b5;
}

.skillWindow .club {
position: absolute;
margin: 0 auto;
width: 145px;
text-align: right;
margin-top: 130px;
font-size: 7.0pt;
font-weight: bold;
color: #b5b5b5;
}

.skillWindow .sword {
position: absolute;
margin: 0 auto;
width: 145px;
text-align: right;
margin-top: 145px;
font-size: 7.0pt;
font-weight: bold;
color: #b5b5b5;
}

.skillWindow .axe {
position: absolute;
margin: 0 auto;
width: 145px;
text-align: right;
margin-top: 159px;
font-size: 7.0pt;
font-weight: bold;
color: #b5b5b5;
}
.skillWindow .distance {
position: absolute;
margin: 0 auto;
width: 145px;
text-align: right;
margin-top: 172px;
font-size: 7.0pt;
font-weight: bold;
color: #b5b5b5;
}
.skillWindow .shield {
position: absolute;
margin: 0 auto;
width: 145px;
text-align: right;
margin-top: 186px;
font-size: 7.0pt;
font-weight: bold;
color: #b5b5b5;
}
.skillWindow .fishing {
position: absolute;
margin: 0 auto;
width: 145px;
text-align: right;
margin-top: 200px;
font-size: 7.0pt;
font-weight: bold;
color: #b5b5b5;
}
</style>
{#
0:Fist
1:Club
2:Sword
3:Axe
4: Distance
5:Shield
6:Fishing
#}
<div class="highscores-wrapper">
    {% if player %}
        <div class="info">
            <p class="label">Character Info</p>
            <table>
                <tr>
                    <td>Name:</td>
                    <td><strong>{{ player.name }}</strong></td>
                </tr>
                <tr>
                    <td>Sex:</td>
                    <td>Male</td>
                    {# <td>{{ player.name }}</td> #}
                </tr>
                <tr>
                    <td>Profession:</td>
                    <td>{{ vocations[player.vocation] }}</td>
                    {# <td>{{ player.name }}</td> #}
                </tr>
                <tr>
                    <td>Level:</td>
                    <td>{{ player.level }}</td>
                </tr>
                <tr>
                    <td>Magic Level:</td>
                    <td>{{ player.maglevel }}</td>
                </tr>
                <tr>
                    <td>Kills:</td>
                    <td>23</td>
                </tr>
            </table>

        

            <div id="equipment" class="skillWindow">
                <div class="exp">{{ player.experience }}</div>
                <div class="level">{{ player.level }}</div>
                <div class="hitPoints"><font style="text-shadow: -1px -1px 0 rgba(0,0,0,0.50),1px -1px 0 rgba(0,0,0,0.50),-1px 1px 0 rgba(0,0,0,0.50),1px 1px 0 rgba(0,0,0,0.50);" color="red">{{ player.health ~ '/' ~ player.healthmax }}</font></div>
                <div class="mana"><font style="text-shadow: -1px -1px 0 rgba(0,0,0,0.50),1px -1px 0 rgba(0,0,0,0.50),-1px 1px 0 rgba(0,0,0,0.50),1px 1px 0 rgba(0,0,0,0.50);" color="DodgerBlue">{{ player.mana ~ '/' ~ player.manamax }}</font></div>
                <div class="soul">{{ player.soul }}</div>
                <div class="cap">{{ player.cap }}</div>
                <div class="stamina"><font style="text-shadow: -1px -1px 0 rgba(0,0,0,0.50),1px -1px 0 rgba(0,0,0,0.50),-1px 1px 0 rgba(0,0,0,0.50),1px 1px 0 rgba(0,0,0,0.50);">{{ player.stamina / 3600000 ~ ':' ~ (((player.stamina % 3600000) < 10) ? ('0' ~ (player.stamina % 3600000)) : (player.stamina % 3600000)) }}</font></div>
                <div class="magicLevel">{{ player.maglevel }}</div>
                <div class="fist">{{ playerSkills[0].value }}</div>
                <div class="club">{{ playerSkills[1].value }}</div>
                <div class="sword">{{ playerSkills[2].value }}</div>
                <div class="axe">{{ playerSkills[3].value }}</div>
                <div class="distance">{{ playerSkills[4].value }}</div>
                <div class="shield">{{ playerSkills[5].value }}</div>
                <div class="fishing">{{ playerSkills[6].value }}</div>		
            </div>

            <p class="label">Frags</p>
            <div class="frags">
                {% if playerPK %}
                <table>

                    {% for frags in playerPK %}
                    <tr>
                        <td>Killed <a href="/player/{{ frags.kill.death.player.name }}">{{ frags.kill.death.player.name }}</a>({{ frags.kill.death.level }}) on {{ frags.kill.death.date|date("d.m.Y H:i:s") }}</td>
                        <td>{{ frags.kill.unjustified ? "UnJustified" : "Justified" }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p style="font-size: small; margin-left: 10px;">No frags</p>
                {% endif %}

                <p class="label">Deaths</p>
                <p style="font-size: small;">By Players</p>
                {% if playerPK %}
                <table>

                    {% for death in playerKillers %}
                    <tr>
                        <td>Killed by <a href="/player/{{ death[0].name }}">{{ death[0].name }}</a> on Level {{ death.level }} on {{ death.date|date("d.m.Y H:i:s") }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p style="font-size: small; margin-left: 10px;">No deaths</p>
                {% endif %}

                <p style="font-size: small;">By Monsters</p>
                {% if playerPK %}
                <table>

                    {% for death in monsterKillers %}
                    <tr>
                        <td>Killed by {{ death.name }} on Level {{ death.level }} on {{ death.date|date("d.m.Y H:i:s") }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p style="font-size: small; margin-left: 10px;">No deaths</p>
                {% endif %}
            </div>
        </div>
        <p style="display: inline-block">Find Player: </p>
        <input type="search" name="search" id="search" onkeypress="enterSearch(event)">
        <input type="button" value="Search" onclick="search()">
    {% else %} 
        <p>Player not found.</p>
        <p style="display: inline-block">Find Player: </p>
        <input type="search" name="search" id="search" onkeypress="enterSearch(event)">
        <input type="button" value="Search" onclick="search()">
    {% endif %}

</div>
<script>
    function search(){
        if (document.querySelector("#search").value != "")
            window.location.replace("/player/"+document.querySelector("#search").value)
    }
    function enterSearch(event){
        if (event.keyCode == 13){
            window.location.replace("/player/"+document.querySelector("#search").value)
        }
    }
</script>
{% endblock %}
