{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    table {
        width: 100%;
    }
    tr:nth-child(even) {
        background: #dddddd;
    }
</style>

<div class="example-wrapper">
    <h1>Spells</h1>

        <table>
        <tr>
            <th>Spell Name</th>
            <th>Words</th>
            <th>Vocations</th>
            <th>Level</th>
            <th>Mana</th>
        </tr>
        {% for spell in instantSpells %}
        <tr>
            <td>{{ spell.name }}</td>
            <td>{{ spell.words }}</td>
            <td>{{ spell.vocations }}</td>
            <td>{{ spell.level }}</td>
            <td>{{ spell.mana }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
