
{% block form %}
<form action="/admin/edit/article/{{ article.id }}" method="post" id="admin_form" onsubmit="return submitForm(this);">
    <fieldset>
    <legend>Article</legend>

        <input type="text" name="title" placeholder="Title..." value="{{ article.title }}" required>
        <input type="text" name="author" placeholder="Author..." value="{{ article.author }}" required>
        <div id="editor" form="admin_form" name="text" >{{ article.text|raw }}</div>

        <input type="submit">

    </fieldset>

</form>
{% endblock form %}

{% block script %}
<script> 
function submitForm(oFormElement)
{
    var xhr = new XMLHttpRequest();
    var formdata = new FormData (oFormElement)
    formdata.set("text", document.querySelector(".ql-editor").innerHTML);
    xhr.onload = function(){ if (xhr.status == 404){alert(xhr.responseText);}else{  alert(xhr.responseText); window.location.href = '/article/{{article.id}}'} }
    xhr.open (oFormElement.method, oFormElement.action, true);

    xhr.send (formdata);
    return false;
}



hljs.configure({   // optionally configure hljs
    languages: ['javascript', 'php', 'html', 'twig']
});

var toolbarOptions = [
    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
    ['blockquote', 'code-block', 'image'],

    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
    [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
    [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
    [{ 'direction': 'rtl' }],                         // text direction

    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown


    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
    [{ 'font': [] }],
    [{ 'align': [] }],

    ['clean']                                         // remove formatting button
];

var options = {
    debug: 'info',
    modules: {
        toolbar: toolbarOptions,
        syntax: true
    },
    placeholder: 'Compose an epic...',
    readOnly: false,
    theme: 'snow'
};

var reader = {
    modules: {
        syntax: true,
        toolbar: false
    },
    readOnly: true,
    theme: 'bubble'
};


if (document.getElementById("editor"))
    var editor = new Quill('#editor',options);

if (document.getElementsByClassName("ql-editor ns text")){
    for (let index = 0; index < document.getElementsByClassName("ql-editor ns").length; index++) {
        new Quill(document.getElementsByClassName("ql-editor ns")[index],reader);

    }
}
</script>
{% endblock %}