{% extends 'base.html.twig' %}

{% block title %}Bans{% endblock %}

{% block content %}
<style>
    .highscores-wrapper { margin: 1em auto;  width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    tr:nth-child(even) {
        background: #dddddd;
    }
    th:nth-child(1) {
        width: 10%;
    }
    th:nth-child(2) {
        width: 60%;
    }
    th:nth-child(3) {
        width: 30%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    table {
        width: 100%;
    }


</style>
<div class="highscores-wrapper">
<h1>Bans</h1>
    {% if bans %}
        <div class="online">
            <p class="label">Bans: <strong>{{ bans|length }}</strong></p>
            <table>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th style="width: 30px">Expires</th>
                </tr>
                {% for ban in bans %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><strong><a href="/player/{{ ban[0].name }}">{{ ban[0].name }}</a></strong></td>
                        <td>{{ ban.expires|date('d.m.Y H:i:s') }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="online">
            <p class="label">No Bans... so far</p>
            </table>
        </div>
    {% endif %}

</div>
<script>
    function search(){
        if (document.querySelector("#search").value != "")
            window.location.replace("/player/"+document.querySelector("#search").value)
    }
    function enterSearch(event){
        if (event.keyCode == 13){
            window.location.replace("/player/"+document.querySelector("#search").value)
        }
    }
</script>
{% endblock %}
